name: deploy

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
              submodules: true
              fetch-depth: 0

        - name: Setup Hugo
          uses: peaceiris/actions-hugo@v3
          with:
              hugo-version: "0.148.2"
              extended: true

        - name: Build Web
          run: hugo --minify --buildDrafts --baseURL https://rustmcu.com/

        - name: Deploy Web
          uses: peaceiris/actions-gh-pages@v4
          with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              publish_dir: ./public
              publish_branch: gh-pages
              force_orphan: true
              commit_message: auto deploy
